html {
  scroll-behavior: smooth;
}

* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat";
  background-image: url("../images/background-aboutus.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.content-wrapper {
  background-color: rgba(253, 0, 0, 0);
  height: auto;
  width: 100%;
  margin: 5em auto;
}

.clr {
  clear: both;
}

header {
  background: black;
  width: 100%;
  height: 5em;
  position: fixed;
  z-index: 99;
}

#inner-header {
  width: 100%;
  height: 5em;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  /* background: red; */
}
#logo-container {
  height: 5em;
  display: flex;
  align-items: center;
  flex-basis: 20%;
  order: 1;
  /* background: White; */
}

#nostalgia-title {
  width: 12em;
}

#navigation {
  flex-basis: 50%;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#navigation a {
  color: white;
  font-size: 1.3em;
}

.footer {
  width: 100%;
  height: 300px;
  left: 0;
  bottom: 0;
  background-color: #000000;
  color: #f1f1f1;
  text-align: center;
  padding-top: 60px;
}

.footer-left {
  float: left;
  max-width: 37.5%;
  margin-left: 100px;
}

.footer-right {
  float: right;
  max-width: 37.5%;
  margin-right: 100px;
  height: 130px;
  /* background-color: #000000; */
}

.footer-lower {
  clear: both;
  padding-top: 50px;
}

#footer-lower-left {
  float: left;
  max-width: 50%;
}

#footer-lower-left a {
  color: #f1f1f1;
}

#footer-lower-right {
  float: right;
  max-width: 50%;
}

#email {
  width: 270px;
  height: 35px;
  padding-left: 10px;
  background-color: #f1f1f1;
}

#signup-btn {
  width: 70px;
  height: 35px;
  background-color: rgb(255, 0, 0);
}

#top-about-us {
  width: 100%;
  margin: 8em 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#top-about-us-left {
  background-color: #2d2b2b;
  width: 20%;
  padding: 10px 20px;
  border-radius: 40px;
}
#about-us-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  color: white;
}

#top-about-us-right {
  background-color: white;
  width: 50%;
  padding: 20px 30px;
  border-radius: 30px;
}
#about-us-description {
  font-size: 22px;
  font-style: italic;
}

#box-scroll {
  display: block;
  margin: 0 auto;
}

#scroll-to {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px 0;
  display: block;
  margin: 0 auto;
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
}

#scroll-to p {
  font-size: 25px;
  text-align: center;
}

#scroll-to:hover {
  background: rgb(207, 207, 207);
}

#down-arrow {
  width: 20px;
  display: block;
  margin: 0 auto;
}

#view-team-members {
  margin-top: 10em;
}
#bottom-about-us {
  width: 90%;
  margin: 10em auto 5em auto;
  color: white;
}

.member-individual {
  margin-bottom: 6em;
  display: flex;
  align-items: center;
  height: 18em;
  padding: 0 2em;
}

.member-img {
  order: 1;
  width: 350px;
  border-radius: 100%;
}

.member-img:hover {
  transform: scale(1.1);
}

.member-detail {
  order: 2;
  background: #2d2b2b;
  padding: 40px 50px 50px 70px;
  border-radius: 100px;
}

.name {
  font-size: 25px;
}
.detail1,
.detail2 {
  font-size: 20px;
}
