html {
  scroll-behavior: smooth;
}

* {
  /* width: 100%; */
  margin: 0;
  padding: 0;
  /* overflow-x: hidden;  pindah ke footer punye class*/
}

body {
  font-family: "Montserrat";
  background-color: #2d2b2b;
  /* box-sizing: border-box; */
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.clr {
  clear: both;
}

body {
  background-image: url("bg_ceper.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.synopsis {
  float: left;
  border-radius: 35px;
  border: 5px solid #555;
  width: 58%;
  padding: 18px;
  margin-top: 260px;
  background: rgba(61, 61, 41, 0.3);
  font-family: Noto Sans, sans-serif;
  color: white;
  font-weight: bold;
  word-spacing: 2px;
}

.cption {
  clear: both;
  float: right;
  font-style: italic;
  color: black;
  border-radius: 35px;
  padding: 5px;
  margin-top: 10px;
  margin-right: 55px;
  color: white;
  font-family: Noto Sans, sans-serif;
  font-size: 1.6rem;
  width: 20%;
  background: rgba(61, 61, 41, 0.3);
}

.content-wrapper {
  background-color: rgba(253, 0, 0, 0);
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.clr {
  clear: both;
}

/* header */
header {
  background: black;
  width: 100%;
  height: 5em;
  position: fixed;
  z-index: 99;
}

#inner-header {
  width: 100%;
  height: 5em;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  /* background: red; */
}
#logo-container {
  height: 5em;
  display: flex;
  align-items: center;
  flex-basis: 20%;
  order: 1;
  /* background: White; */
}

#nostalgia-title {
  width: 12em;
}

#navigation {
  /* flex-basis: 50%; */
  flex-basis: 50%;
  order: 2;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

#navigation a {
  color: white;
  font-size: 1.3em;
  text-decoration: none;
  text-align: center;
}

#tabs-1 {
  padding: 10px;
  height: 1375px;
  background: rgba(0, 204, 68, 0.35);
}
#tabs-2 {
  padding: 10px;
  height: 1750px;
  background: rgba(128, 128, 255, 0.35);
}
/* #tabs-3{ background-color: #66d9ff;  } */
#rule1,
#rule2,
#rule3,
#rule4,
#rule5,
#rule6,
#rule7,
#rule8 {
  margin-top: 15px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  border-radius: 75px;
  border: 6px solid #b3cccc;
  padding: 10px;
  background-color: #e6e6ff;
}
/* ul{border-radius: 0px; border: solid red 6px; background-color: black;   list-style-type: none;margin: 0;  padding: 0;  overflow: hidden;} */
ul {
  width: 97.3%;
  padding: 50px;
  margin: 0 auto;
  border-radius: 0px;
  border: solid red 6px;
  background-color: black;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  font-family: sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: red;
}
a {
  text-decoration: none;
}

.lower-content-page {
  margin: 5em auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.forum {
  order: 1;
  width: 70%;
  height: auto;
  background: #9ea0a2;
  color: white;
  border-radius: 30px;
  padding-top: 10px;
}

#forum-title-1,
#forum-title-2 {
  display: inline;
}

#forum-title-1 {
  background-color: black;
  padding: 10px 25px;
  border-radius: 30px;
}

#forum-title-2 {
  background-color: red;
  padding: 10px 25px;
  border-radius: 30px;
}

.support-nostalgia {
  background: white;
  margin: 50px auto;
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

#support-nostalgia-img {
  display: block;
  float: left;
  margin: 10px;
  width: 50px;
}

#support-nostalgia-text {
  word-wrap: break-word;
  color: black;
  font-size: 14px;
}

.fb-comments-container {
  background: white;
  width: 700px;
  display: block;
  margin: 50px auto;
}

/* footer */
.footer {
  width: 100%;
  height: 240px;
  /* height: auto; */
  /* height: 300px; */
  left: 0;
  bottom: 0;
  background-color: #000000;
  color: #f1f1f1;
  text-align: center;
  padding-top: 60px;
  /* overflow-x: hidden; */
}

.footer-left {
  float: left;
  max-width: 37.5%;
  margin-left: 230px;
}

.footer-right {
  float: right;
  max-width: 37.5%;
  margin-right: 213px;
  height: 130px;
  /* height: auto; */
  /* background-color: #000000; */
}
.footer-lower {
  clear: both;
  padding-top: 50px;
}

#footer-lower-left {
  float: left;
  margin-left: 300px;
  max-width: 50%;
}

#footer-lower-left a {
  color: #f1f1f1;
}

#footer-lower-right {
  float: right;
  margin-right: 283px;
  max-width: 50%;
}

#email {
  width: 258px;
  height: 30px;
  /* height: auto; */
  padding-left: 10px;
  background-color: #f1f1f1;
}

#signup-btn {
  width: 70px;
  height: 35px;
  background-color: rgb(255, 0, 0);
}
