/* animation for load the page */
.loading {
  background: url("../images/loading.gif") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}
